<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="LOG_HOME" value="/Users/nicekkong/Desktop/intellij_repo/logs/kotlin-boot" />

<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--            <Pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) [%30.30logger{30} -> %-20.20method] - %msg%n%ex{full}-->
<!--            </Pattern>-->
<!--        </layout>-->
<!--    </appender>-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="FILE_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_HOME}/debug.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) [%30.30logger{30} -> %-20.20method] - %msg%n%ex{full}
            </Pattern>
        </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${LOG_HOME}/backup/debug.%d{yyyy-MM-dd}.%i.log
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>10MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
    </appender>

    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_HOME}/error.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) [%30.30logger{30} -> %-20.20method] - %msg%n%ex{full}
            </Pattern>
        </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${LOG_HOME}/backup/error.%d{yyyy-MM-dd}.%i.log
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>10MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
    </appender>

    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/info.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch> <!-- 해당 레벨만 기록한다. -->
            <onMismatch>ACCEPT</onMismatch> <!-- DENY:  다른 수준의 레벨은 기록하지 않는다.(상위 레벨도 기록 안함), 상위 수준의 레벨에 대한 기록을 원하면 ACCEPT 로 하면 기록된다. -->
        </filter>
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <Pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) [%30.30logger{30} -> %-20.20method] - %msg%n%ex{full}-->
<!--            </Pattern>-->
<!--        </encoder>-->


        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) [%30.30logger{30} -> %-20.20method] - %msg%n%ex{full}
            </Pattern>
        </layout>


            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${LOG_HOME}/backup/info.%d{yyyy-MM-dd}.%i.log
                </fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>180</maxHistory>
            </rollingPolicy>
    </appender>


    <!-- Send logs to both console and file audit -->
    <root level="INFO"> <!-- root level="OFF" -->
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.nicekkong.kotlinboot" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.nicekkong.kotlinboot" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="FILE_INFO"/>
    </logger>

<!--    <logger name="org.springframework.boot.orm.jpa" level="INFO">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </logger>-->

<!--    <logger name="org.springframework.jdbc" level="INFO">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </logger>-->

<!--    <logger name="org.springframework.d" level="ERROR">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </logger>-->

<!--    <logger name="org.hibernate.type.descriptor.sql" level="TRACE">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </logger>-->


</configuration>

